.Footerbanner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 22px;
    background: rgb(246, 246, 246);
}

.Footerbanner h2 {
    width: 100%;
    color: rgb(30, 29, 29);
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;
}

.Footerbanner p {
    width: 100%;
    color: rgb(139, 142, 153);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin: 20px 0;
}

.Footerbanner img {
    width: 100%;
    max-width: 272px;
    object-fit: contain;
}

.footer__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 443px;
    height: 60px;
    border-radius: 15px;
    padding: 15px;
    background: rgb(255, 255, 255);
}

.footer__form input {
    color: rgba(139, 142, 153, 0.7);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 125.5%;
    letter-spacing: 0%;
    text-align: left;
    border: none;
}

.footer__form button {
    width: 100%;
    max-width: 131px;
    height: 45px;
    border-radius: 9px;
    background: rgb(56, 88, 214);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 125.5%;
    letter-spacing: 0%;
    text-align: center;
}